html {
    overflow-x: hidden;
}

html, body, .full-height {
    height: 100%;
}

body {
    background: @tinyplate-body-background;
}

#content {
    overflow-y: scroll;
    background: @tinyplate-content-background;
}

#content .row > div {
    margin-bottom: 15px;
}

.green {
    background: #23ae89 !important;
}
.blue {
    background: #2361ae !important;
}
.orange {
    background: #d3a938 !important;
}
.red {
    background: #ae2323 !important;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        left: 0;
        -webkit-transition: left .25s ease-in-out;
        -moz-transition: left .25s ease-in-out;
        -o-transition: left .25s ease-in-out;
        transition: left .25s ease-in-out;
    }

    .row-offcanvas.active {
        left: 80%;
    }
}

@import "variables.less";
@import "sidebar.less";
@import "topnavbar.less";
@import "mixins.less";
@import "widgets.less";
